.search-bar {
    background-size: cover; /* Ceci s'assure que l'image couvre toute la largeur */
    padding: 40px 0; /* Un peu d'espace autour de la barre de recherche */
    text-align: center; /* Centrer la barre de recherche */
}

.search-input {
    width: 50%; /* Définir la largeur de la barre de recherche */
    padding: 10px; /* Espace interne dans la barre de recherche */
    font-size: 18px; /* Taille de la police dans la barre de recherche */
    border: 1px solid #ddd; /* Bordure autour de la barre de recherche */
    border-radius: 5px; /* Coins arrondis de la barre de recherche */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre sous la barre de recherche */
}
/* #970747 */