/* #970747 */
/* SearchBar */
.search-bar {
    background-image: url('../src/img/bg3.jpeg');
    background-size: cover; /* Ceci s'assure que l'image couvre toute la largeur */
    padding: 80px 0; /* Image plus grande verticalement */
    text-align: center; /* Centrer la barre de recherche */
}
.search-input {
    width: 50%; /* Définir la largeur de la barre de recherche */
    padding: 10px; /* Augmenter l'espace interne dans la barre de recherche */
    font-size: 18px; /* Taille de la police dans la barre de recherche */
    border: 2px solid #970747; /* Bordure plus épaisse autour de la barre de recherche avec la couleur spécifiée */
    border-radius: 5px; /* Coins arrondis de la barre de recherche */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre sous la barre de recherche */
}


/* Navbar */
.navbar {
    background-color: #970747 !important;
    height: 80px;
    padding: 0 15px; /* Ajout de padding horizontal */
}

.nav-link, .login-button {
    transition: all 0.3s ease; /* Ajout de transitions */
}

.navbar-brand img {
    object-fit: contain; /* Ajuster l'image sans déformation */
}

.nav-link {
    color: #ffffff !important; /* Couleur de texte blanche pour une meilleure lisibilité */
    font-size: 18px; /* Taille de police plus grande */
    margin-right: 30px; /* Espace entre les liens */
}

.nav-link:hover {
    color: #f8f9fa !important; /* Changement de couleur au survol */
}

.login-button {
    color: #ffffff !important; /* Couleur du texte du bouton */
    background-color: #3a3f44 !important; /* Couleur de fond du bouton */
    border: none; /* Pas de bordure */
    padding: 10px 20px; /* Padding intérieur */
    border-radius: 5px; /* Coins arrondis */
}

.login-button:hover {
    background-color: #30353a !important; /* Changement de couleur de fond au survol */
}


/* Footer */
.footer {
    background-color: #f8f9fa;
    position: relative;
    width: 50%; /* Réduire la largeur du background du footer */
    max-width: 1200px; /* Définir une largeur maximale pour éviter qu'il ne devienne trop grand sur les grands écrans */
    margin: 0 auto; /* Centrer le footer */
    padding: 20px; /* Ajouter du padding autour du contenu du footer */
    bottom: 0;
}

/* Icones de médias sociaux */
.footer a {
    margin: 0 15px; /* Augmenter l'espace entre les icônes */
    color: inherit; /* Utiliser la couleur héritée (peut être modifiée si nécessaire) */
}