/* #970747 */
body{
  background-color: #e9e9e9;
}
.bg-plat{
  background-color: #f7f7f7;
}

/* SearchBar */
.search-bar {
  background-image: url("../../src/img/fosyyyy.jpg");
  background-size: cover; /* L'image couvre toute la largeur */
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  margin-top: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Ombre portée pour un effet de décollage */

}
.search-input {
  width: 50%; /* Définir la largeur de la barre de recherche */
  padding: 10px; /* Augmenter l'espace interne dans la barre de recherche */
  font-size: 18px; /* Taille de la police dans la barre de recherche */
  border-radius: 30px; /* Coins arrondis */
  border: none; /* Enlever la bordure */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ajouter une ombre */
  margin-top: 200px;
  text-align: center;
}

/* Navbar */
.navbar {
  background-color: rgba(
    151,
    7,
    71,
    0.9
  ) !important; /* Couleur de fond de la navbar avec transparence */
  height: 80px; /* Hauteur fixe pour la navbar */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Ombre portée pour un effet de décollage */
}

.navbar-brand img {
  object-fit: contain; /* Ajuster l'image sans déformation */
}

.navbar-nav.mr-auto {
  flex-grow: 2; /* Permet aux éléments du milieu de prendre plus d'espace */
}

.nav-link {
  color: #ffffff !important; /* Couleur de texte blanche pour une meilleure lisibilité */
  font-size: 18px; /* Taille de police plus grande */
  margin-right: 10px; /* Espace entre les liens */
  border-radius: 10px; /* Coins arrondis */
}

.nav-link:hover {
  color: #3a3f44 !important; /* Changement de couleur au survol */
  background-color: #ffffff !important; /* Changement de couleur de fond au survol */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7); /* Ombre portée pour un effet de décollage */
  border-radius: 10px; /* Coins arrondis */

}

.nav-link.active {
  border-bottom: 2px solid #ffffff; /* Souligne le lien actif avec une bordure */
}

/* Footer */
.footer {
  background-color: rgba(
    151,
    7,
    71,
    0.9
  ) !important;
  position: relative;
  height: 50px;
  width: 50%; /* Réduire la largeur du background du footer */
  max-width: 1200px; /* Définir une largeur maximale pour éviter qu'il ne devienne trop grand sur les grands écrans */
  margin: 0 auto; /* Centrer le footer */
  padding: 20px; /* Ajouter du padding autour du contenu du footer */
  bottom: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Ombre portée pour un effet de décollage */
}


/* Icones de médias sociaux */

.fa-facebook, .fa-twitter, .fa-instagram{
  color: #ffffff;
}

.footer-link{
  color: #ffffff !important; /* Couleur de texte blanche pour une meilleure lisibilité */
  font-size: 18px; /* Taille de police plus grande */
  border-radius: 10px; /* Coins arrondis */  
  text-decoration: none; /* Enlever le soulignement */
  padding: 8px;
  margin: 2px;
}

.footer-link.active{  
  border-bottom: 2px solid #ffffff; /* Souligne le lien actif avec une bordure */
  color: #ffffff; /* Couleur du texte des liens */
  margin: 0 15px; /* Espace autour des liens */
  text-decoration: none; /* Enlever le soulignement */
}
.footer-link:hover{
color: #3a3f44 !important; /* Changement de couleur au survol */
background-color: #ffffff !important; /* Changement de couleur de fond au survol */
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7); /* Ombre portée pour un effet de décollage */
border-radius: 5px; /* Coins arrondis */
}

/* Ajouter un effet de survol sur les icônes des réseaux sociaux */
.footer a:hover i {
  color: #f8c301;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

/* Title Cards */
.section-title,
.section-title2 {
  text-align: center; /* Centrer le texte */
  padding: 20px; /* Espacement autour du texte */
  margin: 0 auto 30px; /* Centrer horizontalement et ajouter une marge en dessous */
  max-width: 80%; /* Limiter la largeur du titre */
  font-weight: bold; /* Gras */
  color: #333; /* Couleur du texte */
  letter-spacing: 1px; /* Espacement des lettres */
  border-bottom: 3px solid #f8c301; /* Ligne sous le titre */
}

.section-title::before,
.section-title2::before {
  content: ""; /* contenu vide pour le pseudo-élément */
  display: block;
  margin: 0 auto 10px; /* Centrer horizontalement et ajouter une marge en dessous */
  width: 50px; /* Largeur de la ligne */
  height: 3px; /* Hauteur de la ligne */
  background-color: #f8c301; /* Couleur de la ligne */
}

.category-card-link, .dish-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.category-card-link:hover, .dish-card-link:hover {
  opacity: 0.8;
  cursor: pointer;
}


/* Profile Cards */
.profile-card-2 {
  position: relative;
  overflow: hidden;
  border: 1px solid #30353a;
  width: 100%;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  margin-bottom: 20px;
  height: 240px; /* Hauteur fixe pour la carte */
}

.profile-card-2 img {
  height: 100%; /* Hauteur à 100% de la carte */
  width: 100%; /* Largeur à 100% de la carte */
  object-fit: cover; /* Redimensionne l'image pour qu'elle remplisse la carte */
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.profile-card-2 .profile-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px; /* Réduire le padding pour rendre le fond plus fin */
  color: #fff;
  text-align: center;
  background-color: rgba(151, 7, 71, 0.8);
  font-family: "Arial", sans-serif; /* Changer la police */
  font-size: 18px; /* Ajuster la taille de la police */
  font-weight: bold; /* Mettre le texte en gras */
  transform: translateY(0);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.profile-card-2:hover img {
  transform: scale(1.15);
}

.profile-card-2:hover .profile-name {
  background-color: rgba(
    161,
    8,
    54,
    0.616
  ); /* Couleur de fond lors du survol */
  transform: translateY(
    -30px
  ); /* Déplace le texte vers le haut lors du survol */
}

/* Profile Cards Plats */
.profile-card-3 {
  position: relative;
  overflow: hidden;
  border: 1px solid #30353a;
  width: 100%;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  margin-bottom: 20px;
  height: 180px; /* Hauteur fixe pour la carte */
}

.profile-card-3 img {
  height: 100%; /* Hauteur à 100% de la carte */
  width: 100%; /* Largeur à 100% de la carte */
  object-fit: cover; /* Redimensionne l'image pour qu'elle remplisse la carte */
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.profile-card-3 .profile-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px; /* Réduire le padding pour rendre le fond plus fin */
  color: #fff;
  text-align: center;
  background-color: rgba(151, 7, 71, 0.8);
  font-family: "Arial", sans-serif; /* Changer la police */
  font-size: 18px; /* Ajuster la taille de la police */
  font-weight: bold; /* Mettre le texte en gras */
  transform: translateY(0);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.profile-card-3:hover img {
  transform: scale(1.15);
}

.profile-card-3:hover .profile-name {
  background-color: rgba(
    161,
    8,
    54,
    0.616
  ); /* Couleur de fond lors du survol */
  transform: translateY(
    -30px
  ); /* Déplace le texte vers le haut lors du survol */
}

/* Image Settings */
.card-img-top {
  height: 200px; /* Hauteur fixe pour les images */
  object-fit: cover; /* Redimensionne l'image pour qu'elle remplisse l'espace sans étirer */
}

/* Card Content */
.card-body h5 {
  font-size: 20px; /* Taille de la police pour le nom de la catégorie ou du plat */
  font-weight: bold; /* Forme de la police */
}

/* Profile Card Hoover Background */
.profile-card-2:hover .profile-name {
  background-color: rgba(
    161,
    8,
    54,
    0.616
  ); /* Couleur de fond lors du survol */
}

/* Appliquer à tout le contenu de .legal-and-privacy */
.legal-and-privacy {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e9e9e9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Espacement des titres */
.legal-and-privacy h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #444;
  font-size: 2.5em;
}

.legal-and-privacy h2 {
  margin-top: 18px;
  margin-bottom: 10px;
  color: #555;
  font-size: 1.8em;
}

/* Style des liens */
.legal-and-privacy a {
  color: #3498db;
  text-decoration: none;
}

.legal-and-privacy a:hover {
  border-bottom: 2px solid #3498db;
}

/* Style pour les listes */
.legal-and-privacy ul {
  margin: 10px 0;
  padding-left: 20px;
}

.legal-and-privacy li {
  margin-bottom: 5px;
}

/* Style pour l'adresse */
.legal-and-privacy address {
  font-style: normal;
  margin-left: 20px;
}

.pagination-btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination-prev {
  background-color: #970747; /* Couleur d'arrière-plan pour le bouton Précédent */
  color: white; /* Couleur du texte pour le bouton Précédent */
}

.pagination-next {
  background-color: #970747; /* Couleur d'arrière-plan pour le bouton Suivant */
  color: white; /* Couleur du texte pour le bouton Suivant */
}

.pagination-btn:hover {
  background-color: #f8c301;
}

/* CSS Plats cards */
/* Styliser le conteneur principal des plats */
.main-content-container {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Styliser le titre de la section des plats */
.section-title {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
  color: #2d3142;
  font-weight: 600;
  border-bottom: 4px solid #f8c301;
  padding-bottom: 10px;
}

/* Styliser les cartes des plats */
/* Plats Cards */
.plat-card {
  position: relative;
  overflow: hidden;
  border: 1px solid #30353a;
  width: 100%;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  margin-bottom: 20px;
}

.plat-card img {
  width: 100%; /* Largeur à 100% de la carte */
  object-fit: cover; /* Redimensionne l'image pour qu'elle remplisse la carte */
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.plat-card .plat-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px; /* Réduire le padding pour rendre le fond plus fin */
  color: #b40000;
  text-align: center;
  background-color: rgba(151, 7, 71, 0.8);
  font-family: "Arial", sans-serif; /* Changer la police */
  font-size: 18px; /* Ajuster la taille de la police */
  font-weight: bold; /* Mettre le texte en gras */
  transform: translateY(0);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.plat-card:hover img {
  transform: scale(1.1);
}

/* Styliser les images des plats */
.plat-card .img-container img {
  max-width: 100%;
  height: auto;
}

/* Styliser le corps de la carte */
.plat-card .card-body {
  padding: 20px;
}

/* Styliser le titre du plat dans la carte */
.plat-card .card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #2d3142;
  font-weight: 600;
}

/* Styliser le texte de la carte */
.plat-card .card-text {
  margin-bottom: 10px;
  color: #4f5d75;
  overflow: hidden; /* Cacher tout texte qui déborde */
  text-overflow: ellipsis; /* Afficher des points de suspension lorsque le texte est tronqué */
  display: -webkit-box; /* Nécessaire pour utiliser -webkit-line-clamp */
  -webkit-box-orient: vertical; /* Nécessaire pour utiliser -webkit-line-clamp */
  -webkit-line-clamp: 2; 
}

/* Styliser les petits textes des cartes (prix, disponibilité) */
.plat-card .card-text small {
  display: block;
  color: #bfc0c0;
}

/* Styliser le bouton de commande */
.plat-card .btn-primary {
  background-color: #970747;
  border-color: #970747;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s;
}

.plat-card .plat-card2 .btn-primary:hover, .plat-card .btn-primary:focus {
  background-color: #f8c301;
  border-color: #f8c301;
}

/* card plats-order */
/* Pour la carte du plat */
.plat-card2 {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.plat-card2 img {
  max-width: 250px;
  object-fit: cover;
}

.plat-card2 .card-body {
  padding: 20px;
  flex: 1;
}

/* Pour le formulaire de commande */
.order-form {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.order-form .form-group {
  margin-bottom: 20px;
}

.order-form label {
  display: block;
  margin-bottom: 8px;
}

.order-form input, .order-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.order-form button {
  display: inline-block;
  background-color: #970747;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.btn-primary:hover{
  color: #30353a; /* Changement de couleur au survol */
  background-color: #f8c301 ; /* Changement de couleur de fond au survol */
}

/* Espace entre la carte du plat et le formulaire */
.plat-card2 + .order-form {
  margin-top: 20px;
}

#quantite {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.content-wrapper {
  position: relative;
  padding: 50px 0;
  margin-top: 20px;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../src/img/fosyyyy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(8px);
  z-index: -1; /* Placez-le en arrière-plan */
}

/* CSS custom Button */
.custom-search-button {
  background-color: #970747;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px; /* bord arrondi */
  font-weight: 600;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #bfc0c0;
}

.custom-search-button:hover {
  background-color: #f8c301;
  border-color: #f8c301;
  transition: all 0.3s;
  color: #2d3142;
  border: 2px solid #2d3142
}

.btn-primary {
  background-color: #970747;
  border-color: #970747;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s;
}
.btn-primary:focus {
  background-color: #f8c301;
  border-color: #f8c301;
}

.required-message {
  color: #970747;
  font-size: 12px;
  display: none; /* Cache les messages par défaut */
}

input:invalid + .required-message {
  display: block; /* Affiche les messages lorsque le champ est invalide */
}

/* CSS Login/signup */
.form-container {
  margin-top: 150px;
  max-width: 500px; 
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-header {
  background-color: #970747;
  color: white;
}

.text-login, .back-index {
  color: #970747;
}

/* CSS bouton login/signup */
.custom-login-btn {
  background-color: #2c3e50; /* Bleu foncé */
  color: #ffffff; /* Texte blanc */
  padding: 10px 20px; /* Espacement interne */
  border: none; /* Aucune bordure */
  border-radius: 5px; /* Coins arrondis */
  font-size: 16px; /* Taille de la police */
  text-decoration: none; /* Supprime le soulignement */
  transition: background-color 0.3s ease; /* Transition en douceur lors du survol */
}

.custom-signup-btn {
  background-color: #e74c3c; /* Rouge */
  color: #ffffff; /* Texte blanc */
  padding: 10px 20px; /* Espacement interne */
  border: none; /* Aucune bordure */
  border-radius: 5px; /* Coins arrondis */
  font-size: 16px; /* Taille de la police */
  text-decoration: none; /* Supprime le soulignement */
  transition: background-color 0.3s ease; /* Transition en douceur lors du survol */
}

/* Changer la couleur d'arrière-plan lorsqu'on survole les boutons */
.custom-login-btn:hover, .custom-signup-btn:hover {
  background-color: #34495e; /* Une couleur légèrement différente lors du survol */
}

/* Changer la couleur d'arrière-plan lorsqu'on clique sur les boutons */
.custom-login-btn:active, .custom-signup-btn:active {
  background-color: #2c3e50; /* Une couleur légèrement différente lorsqu'on clique */
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------Responsive--------------------------------- */
/* ---------------------------------------------------------------------------- */

/* Cacher les plats 4, 5 et 6 en affichage grand écran */
.homepage .dish-row .col-md-4:nth-child(4),
.homepage .dish-row .col-md-4:nth-child(5),
.homepage .dish-row .col-md-4:nth-child(6) {
  display: none;
}

/* Styles en mode responsive */
@media screen and (max-width: 768px) {
  
  /* Cacher la barre de recherche */
  .search-input, .custom-search-button {
    display: none;
  }

  /* Cacher les catégories et le titre des catégories en mode responsive */
  .homepage .category-row,
  .homepage .section-title {
    display: none;
  }

  /* Spécifique à la page plats.php */
  .plats-page .card-body .btn, /* Cible le bouton Commander */
  .plats-page .card-body .card-text /* Cible le texte de description */ {
    display: block; 
  }
  /* Ajuster la mise en page de la carte sur les petits écrans */
  .plats-page .plat-card .row {
    flex-direction: column;
  }

  /* Ajuster la taille de l'image sur les petits écrans */
  .plats-page .plat-card .img-container {
    max-width: 100%;
    margin-bottom: 15px;
  }

  /* Ajuster la taille du texte et la disposition du bouton sur les petits écrans */
  .plats-page .plat-card .card-body {
    padding: 15px;
  }

  .plats-page .plat-card .card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .plats-page .plat-card .btn {
    font-size: 1em;
  }


  /* Afficher les plats 4, 5 et 6 en affichage responsive */
  .homepage .dish-row .col-md-4:nth-child(4),
  .homepage .dish-row .col-md-4:nth-child(5),
  .homepage .dish-row .col-md-4:nth-child(6) {
    display: block;
  }

  /* Styles pour le titre des plats en mode responsive */
  .homepage .section-title2 {
    font-size: 1.4em;
    margin-top: 30px;
  }

  /* Nav Responsive */
  .nav-link {
    margin-right: 15px; /* Réduire l'espacement entre les liens sur les petits écrans */
  }

  /* CSS pour rendre le bouton "Menu" plus visible */
  .navbar-toggler {
    background-color: #3a3f44; /* Couleur de fond du bouton */
    color: #fff; /* Couleur de l'icône du bouton */
    font-size: 1.2em; /* Taille de l'icône du bouton */
    border: none; /* Retirer la bordure du bouton */
  }

  /* CSS pour ajouter un fond au menu déroulant */
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.8); /* Couleur de fond semi-transparente */
  }

  .navbar-nav .nav-link {
    color: #fff; /* Couleur du texte des liens */
  }
}

@media screen and (max-width: 1225px) {
  .footer {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .plat-card img {
    height: 100%; /* Hauteur à 100% de la carte sur les grands écrans */
  }
}
@media screen and (min-width: 768px) {
  .plat-card {
    height: 240px;
  }
}